.login {
  height: 100vh;
  background-color: #49befe;
  font-family: 'Press Start 2P', cursive;
  background-image: url(../src/assets/img/galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover, contain;

  .form {
    background-image: url(../src/assets/img/login.gif);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;

    label {
      color: white;
    }
  }

  // background-image: url(../img/giphy.gif), url(../img/summer.gif);
  // background-repeat: no-repeat;
  // background-position-y: 60% , 0%;
  // background-position-x: 10%, 100%;
  // background-size: 30%;
}