.main-navbar{
  background-color: #62C3CA !important, ;
  background-image: url(../src/assets/img/monster-logo.png);
  background-repeat: no-repeat;
  // background-position: center;
  background-position: 50% 34%;
  font-family: 'Press Start 2P', cursive;

  .btn {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    border-radius: 3px;

    
  }

  .image-profile {
    max-height: 40px;
  }

  
  .btn-become-member {
    background-color: #f1693c;
    border: unset;
    border-bottom: solid 2px #c94727;
  }

  .btn-login {
    color: #555555;
    background-color: #eeeeee;
    border: unset;
    border-bottom: solid 2px #CCCCCC;
  }

  .nav-item {
    .award {
      max-height: 50px;
    }
  }
}